.sidebar
  .well
    ul.media-grid
      li: center
        img.thumbnail(style='width:80%;', src='/images/jrs_logo_trans.png')
.content
  .span10
    h1= screenname
    div(style='padding: 16px 19px;')
      form(action='#')
        .span8
          input.span8#text-input(type='text', placeholder='Enter Message', autofocus)
        .span1
          button.btn.primary#send-button Send

  .span10
    ul#messages(style='margin:0;margin-top: 10px;list-style:none;')
      each message in messages
        li(style='margin-left:0;')
          p.alert-message.block-message.success
            span(style='font-size: 1.2em;color: rgba(0,0,0,.4);') #{message.name} says
            br
            = message.msg
            br
            small(style='float:right;')= Date.create(message.created_at).relative();